<html>
	<head>
		<title>Larissa's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Larissa's Blog</a></h1>
		</div>

		<div>
			<p>published: 25.06.2016, 14:02</p>
			<h2><a href="">First Camping Trip</a></h2>
			<p>Over Mother's Day weekend we went camping at Lake Chelan. It was hot and the water was cold.</p>
		</div>

		<div>
			<p>published: 25.06.2016, 14:06</p>
			<h2><a href="">Second Camping Trip</a></h2>
			<p>After Father's Day weekend we went camping at Deception Pass. We saw cool animals during low tide and on the second day it rained.</p>
		</div>
	</body>
</html>